.brand-config-container div.row,
.page-config-container div.row {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  padding-top: 10px;
}

input[type='color'] {
  -webkit-appearance: none;
  border: none !important;
  width: 47px !important;
  height: 35px !important;
  background: transparent;
}
input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
  /* border-radius: 50%; */
}
input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.upload-button {
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  /* background-color: #9c27b0; */
  font-size: 16px;
  color: #ccc;
  border: 2px dashed #cccccc54;
  text-align: center;
}
.upload-button:hover {
  border: 2px dashed #ccc;
}
input[type='file'] {
  position: absolute;
  z-index: -1;
  top: 6px;
  left: 0;
  font-size: 15px;
  color: rgb(153, 153, 153);
}
.button-wrap {
  position: relative;
}
.external-links a {
  display: list-item;
  width: 100%;
  text-align: left;
  padding: 5px;
}
.btn-danger{
  background-color:red ;
}
