:root {
  --darkblue: #002f6c;
  --lightblue: #0077c8;
  --teal: #0bb6bb;
}

.page-header , .page-heading{
  height: 68px;
  background-color: #0077c8;
  // background-color: var(--lightblue);
  display: flex;
  flex-direction: row;
}
.page-heading,.page-header{
  position: sticky;
  top: 0;
  z-index: 1;
}
.page-header-icon {
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #ccc;
  position: relative;
  top: 70px;
  left: 30px;
  border-radius: 4px;
}
.page-header-name , .page-heading-name{
  position: relative;
  left: 60px;
  top: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.page-heading-name{
  top: 21px;
  text-transform: capitalize;
}
.page-header-status {
  display: block;
  text-align: left;
  font-size: 12px;
}
.navbar .nav-link {
  color: #b1adad;
}
.navbar-brand img {
  height: 50px;
}
a.nav-link.selected {
  color: #fff !important;
}
.navbar-icon-badge {
  position: absolute;
  bottom: 12px;
  right: 0px;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  /* background: #ffc107; */
  background: var(--teal);
  font-size: 0.8rem;
  line-height: 20px;
}

.notification-dropdown {
  position: relative;
  display: inline-block;
}
.view-more-nofify a:active {
.notifications-list{
  display: none;
}
}

.notifications-list {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  top: 30px;
  border-radius: 4px;
}

.notifications-list a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* .notifications-list a:hover {background-color: #ddd;} */

.notification-dropdown:hover .notifications-list {
  display: block;
}
.notifications-list .dropdown-item {
  white-space: normal;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-left: 1px solid #e3e6f0;
  border-right: 1px solid #e3e6f0;
  border-bottom: 1px solid #e3e6f0;
  line-height: 1.3rem;
  width: 100%;
  padding: 1rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #3a3b45;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border-bottom: 1px dotted #ccccccb5;
  cursor: pointer;
}
.notifi-info {
  font-size: 14px;
  color: #232121;
}
.notifications-list .dropdown-item:hover {
  color: #2e2f37;
  text-decoration: none;
  background-color: #f8f9fc;
}
.icon-circle {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-profile-icon .MuiAvatar-circle {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.header-nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  display: block;
  /* padding: .5rem 1rem; */
}
.p-input-icon-left input[type='search'] {
  padding-left: 30px;
}
.header-its {
  width: 100%;
  height: 60px;
  background-color: #2e2f37;
}
.feedback-container {
  max-width: 500px;
  overflow: auto;
  flex-direction: column;
}
.package-layout--services {
  /* background-image: url('./assets/myEBackground.jpg'); */
  background: url('../images/myEBackground.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  height: auto !important;
}

.bottom-footer {
  padding: 20px;
  color: #fff;
  background-color: #000;
}
.app-body .app-main-container {
  overflow-y: hidden;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

#nanorep1 #nanorep-fw .shared__teaser-opener {
  // background: var(--darkblue) !important;
}
#nanorep1 #nanorep-fw .widget-floating__header {
  // background-color: var(--darkblue) !important;
}
.heading-search{
  position: relative;
    top: 18px;
    right: 30px;
}

.notifications-list:before{
content: "";
margin: 0 0.5em;
display: inline-block;
border: 7px solid transparent;
position: relative;
border-top: 8px solid #fff;
border-bottom: 0 none;
float: right;
transform: rotate(180deg);
top: -8px;
}
