.home-search-input {
  border: none;
  background-color: transparent;
  color: var(--teal);
  margin-left: 10px;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}
.home-search-input:focus {
  outline: none;
  color: var(--teal);
}
.fa-search {
  display: flex;
  align-items: center;
  color: gray;
}

.home-search-div {
  border: 1px gray solid;
  padding: 0px 8px;
  margin: 10px auto;
  border-radius: 20px;
  background: #fff;
  border-radius: 20px;
  color: var(--teal);
  width: 50%;
}
.home-search-container .col-sm-5 .MuiFormControl-root {
  width: 100%;
}
.home-req-cat-card{
  min-height: 244px;
  margin-bottom: 10px;
}
.home-support-container{
  // background: #151515;
    // color: #fff;
}