.bg-light-blue {
  background-color: aliceblue;
}
.active-request-container .card-footer {
  border: 1px solid #00000020;
  border-top: 0px;
}
.next-prev-i {
  border-radius: 50%;
  padding: 6px 20px;
  border: 1px solid #ccc;
  transition: 0.2s all;
  font-size: 20px;
  background: #fff;
}
.next-prev-i:hover {
  background-color: #cccccc75;
}
.table-header {
  display: flex;
  justify-content: space-between;
}

.activity-details-list {
  display: grid;
  grid-template-columns: auto auto auto;
  list-style: none;
  grid-column-gap: 25px;
}
.request-id,
.request-qty,
.request-for {
  display: flex;
  flex-direction: column;
}
.label-qtn {
  font-size: 13px;
  font-weight: bold;
}
.view-details-link {
  font-size: 10px;
}
.card-f-btns {
  justify-content: space-between;
  display: flex;
}
.admin-config-container .list-group-item {
  /* border:none !important; */
  font-weight: 500;
  cursor: pointer;
}
.list-group-item.activeList {
  color: #0b7ad1;
}
.list-group-item:hover {
  /* color: #0b7ad1; */
}
.list-group-item ul li {
  font-weight: normal;
  list-style: none;
}
.activity-filter-actions {
  display: flex;
  justify-content: flex-end;
}
.activity-filter-actions p {
  margin-left: 12px;
  padding-left: 10px;
  border-left: 1px solid #ccc;
}
.config-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 100px;
}
.config-grid div:first-child {
  text-align: left;
}
.btns-container {
  display: flex;
  flex-direction: column;
}
.d-grid {
  display: grid;
}
.active-star{
   color: goldenrod;
}