/**
 * Page Title - Services
 ******************************************************************************/

// Overwrites the colors or the page title hero
.page-title-hero {
  background-color: $services-hero-bg;
  color: $services-hero-color;
  &--image {
    &:before {
      background-color: $services-hero-overlay;
    }
  }

  .page-title__breadcrumbs {
    > span {
      color: $services-hero-meta-color;

      a {
        color: $services-hero-meta-color;
      }
    }
  }

  .page-title__meta {
    color: $services-hero-meta-color;
  }
}
