.profile-name {
  font-size: 18px;
  color: #000;
  font-weight: 500;
  margin-top: 8px;
}
.profile-role {
  font-style: italic;
}
.profile-left {
  text-align: -webkit-center;
  background-color: #007bff75;
  border-radius: 4px;
  border: 1px solid #007bff91;
  border-top-right-radius: 0px;
}
.profile-right {
  border: 1px solid #007bff91;
  border-left: 0px;
  border-radius: 4px;
  border-top-left-radius: 0px;
  padding: 0px;
}
.profile-right section {
  border-bottom: 1px solid #007bff91;
  padding: 10px 20px;
  margin-bottom: 10px;
}
.profile-right section:last-child {
  border-bottom: 0px;
}
.profile-contact-info ul {
  list-style: none;
}
.profile-contact-info ul li {
  display: flex;
  /* justify-content: space-evenly; */
}
.profile-page-container {
  margin-top: 12px;
  margin-bottom: 12px;
}
.profile-contact-lable {
  font-weight: 400;
  color: #8d8888;
  margin-right: 12px;
}
span.profile-contact-ans {
  /* color: #dc3545; */
  font-weight: 500;
  margin-left: 60px;
}
.request-val {
  font-size: 24px;
  color: red;
  font-weight: 500;
}
.profile-page-card {
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  border: 1px solid transparent;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.profile-page-card:hover {
  background-color: aliceblue;
  border: 1px solid #a6d5fa;
  transition: 0.2s all;
}
.profile-avatar {
  display: flex;
  align-self: center;
}
.count-box {
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: #fff;
}
.count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #082744;
}
.count-box p {
  padding: 0;
  margin: 0;
  /* font-family: "Raleway", sans-serif; */
  font-size: 14px;
  color: #6c757d;
}
.counts {
  background: #f1f7fd;
  padding: 70px 0 60px;
}
.profile-contact-info {
  padding: 20px 30px;
  border: 1px solid transparent;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.fw-500 {
  font-weight: 500;
}
.custom-link {
  margin-right: 20px;
  margin-left: 20px;
  color: #2b66a5;
  font-style: italic;
  cursor: pointer;
  text-decoration: underline;
}
.custom-link {
  /* color: blue; */
}
.profile-custom-shead {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.profile-images-list {
  display: grid;
  grid-template-columns: auto auto auto;
}
