/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Requests ~ services
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.submission__meta {
  min-height: 3.75rem;
  width: 100%;
  background-color: $gray-200;
  padding: 0.75rem 1.5rem;
  margin-bottom: 1.5rem;
  flex: 0 0 auto;
  .data-list-row {
    // margin-left: -1.5rem;
    // margin-right: -1.5rem;
    &__col {
      border-right: 1px solid $gray16;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      &:last-child {
        border: none;
      }
    }
    dt {
      font-size: 0.625rem;
      font-weight: 600;
      line-height: 0.75rem;
      margin-bottom: 0.5rem;
    }
    dd {
      color: $gray60;
      font-size: 1rem;
      font-weight: 300;
      line-height: 1rem;
    }
  }
  .btn-group-col {
    display: flex;
    align-items: center;
    margin-top: 0;
    justify-content: space-around;
    .btn {
      margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }
    }
    @media all and (min-width: 0) {
      margin-top: 1rem;
    }
    @media all and (min-width: 576px) {
      margin-top: 1rem;
    }
    @media all and (min-width: 768px) {
      margin-top: 1rem;
    }
    @media all and (min-width: 992px) {
      margin-top: 0;
    }
    @media all and (min-width: 1200px) {
      margin-top: 0;
    }
  }
}

.submission-title {
  padding: 0 1.5rem;
  h1 {
    color: $gray80;
    font-size: 1.625rem;
    font-weight: 600;
    line-height: 3rem;
    margin: 0;
    display: flex;
  }
  p {
    color: $gray60;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.submission-tabs {
  padding: 0 1.5rem;
  .nav-tabs {
    margin-bottom: 1.5rem;
  }
}
