.home-search-input {
  border: none;
  background-color: transparent;
  color: var(--teal);
  margin-left: 10px;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

input[type='search']:focus,
input[type='text']:focus,
input:focus,
input:focus[type='text']:not(.form-control),
.form-control:focus,
textarea:focus {
  outline: none;
  box-shadow: none !important;
}
.fa-search {
  display: flex;
  align-items: center;
  color: gray;
}

.home-search-div {
  // border: 1px gray solid;
  padding: 0px 8px;
  margin: 10px auto;
  border-radius: 20px;
  background: #fff;
  border-radius: 20px;
  color: var(--teal);
  width: 50%;
}
.home-search-container .col-sm-5 .MuiFormControl-root {
  width: 100%;
}
.home-req-cat-card {
  min-height: 244px;
  margin-bottom: 10px;
}
.home-support-container {
  // background: #151515;
  // color: #fff;
}
.home-morquee-container card {
  height: 255px;
  // width: 50%;
  // margin: 10px auto;
}
.package-layout--services .container:first-child {
  margin-top: 1.5rem;
}
.card-img-top {
  height: 140px;
}
.req-overview-list li {
  border-bottom: none !important;
  padding: 0.2rem 1.25rem !important;
}
.req-overview-list li:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
}
.req-overview-list .list-group-item:hover {
  background-color: #ccc3;
}
h5 {
  color: rgb(0, 47, 108);
}
.its-global-search label {
  margin: 10px;
}
.its-global-search {
  width: 50% !important;
  display: flex !important;
  margin: auto !important;
}
.its-global-search .MuiOutlinedInput-root,
.its-global-search .MuiOutlinedInput-root input {
  border-radius: 50px;
}
body {
  font-family: Helvetica, sans-serif;
}

.react-autosuggest__container {
  position: relative;
  display: flex;
}

.react-autosuggest__input {
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  padding: 20px;
  width: 50% !important;
  margin: 10px auto !important;
  border-radius: 20px !important;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 50%;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  margin: auto;
  left: 25%;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
