.req-temlate-container .card {
  height: 150px;
  transition: 0.3s all;
  box-shadow: 0px 4px 13px 2px #cccccc54;
  border: 1px solid #cccccc52;
}
.req-temlate-container:hover .card {
  background-color: #d9e7f680;
  border: 1px solid #0062cc;
  cursor: pointer;
}
.card-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.req-icon {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #ced4da;
  font-size: 25px;
}
.req-title-link {
  color: var(--lightblue);
  cursor: pointer;
}
.req-title-link:hover {
  text-decoration: underline;
}
.req-description,
.req-rating,
.req-cost {
  color: #ca4b1b;
}
.req-card-badge {
  position: absolute;
  top: 5px;
  right: 10px;
  color: goldenrod;
  // color: var(--lightblue);
}
